.navbar {
  background-color: var(--bg-secondary);
  border-radius: 81px;
  overflow: hidden;
  width: 92.307%;
  max-width: 768px;
}

.container {
  padding: 17px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.marg {
  margin-top: 10px;
}

.icon {
  object-position: center;
  object-fit: cover;
  width: 30px;
  height: 30px;
}

.miniIcon {
  width: 40px;
  height: 40px;
}
