.price {
  width: 100%;
  background-color: var(--bg-secondary);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.heading {
  font-size: 16px;
  line-height: 19px;
  font-family: var(--font-inter-regular);
  color: var(--text-color-secondary);
  margin: 0;
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 6px;
}

.money {
  font-size: 20px;
  line-height: 24px;
  font-family: var(--font-inter-medium);
  color: var(--text-color-green);
  margin: 0;
}